* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(235, 151, 151);
}
img {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    display: inline-block;
}
.shell {
    display: grid;
    padding: 20px;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-auto-rows: 270px;
    grid-auto-flow: dense;
}

.shell>div {
    background-color: rgba(51,51,51);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
}

.shell span {
    color: #fff;
    font: 100 100px 'Kristen ITC';
    position: absolute;
    top: -10px;
    left: 20px;
}

.shell .wide {
    grid-column: span 2;
}

.shell .tall {
    grid-row: span 2;
}

.shell .big {
    grid-column: span 2;
    grid-row: span 2;
}